section {
	border: 1px solid rgb(183, 201, 225);
	border-radius: 3px;
	margin: 16px;
	margin-right: 60px;
	width: 30%;
	height: 300px;
	display: inline-block;
	background-color: rgb(220,220,220);
}

.price {
	float: left;
	color: rgb(99, 109, 112);
}

.details {
	float: right;
	color: rgb(99, 109, 112);
}

.center-block {
	padding-top: 10px;
	padding-bottom: 20px;
}

